
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="box">
    <h3>Manage Players</h3>
    <div asp-validation-summary="ModelOnly"></div>

    <div class="row gtr-uniform gtr-25 ">
        <div class="col-9">
            <a asp-action="ViewAllPlayers" class="button primary">View all Players</a>
        </div>
    </div>
</section>

