<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    @if (!User.Identity.IsAuthenticated)
    {
        <li><a asp-controller="Account" asp-action="Login" class="button">Sign In</a></li>
    }
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <li class="dropdown">
                <a><i class="fas fa-user-shield align-content-center me-1"></i> Admin</a>
                <ul>
                    <li class="dropdown">
                        <a asp-controller="Account" asp-action="ManageUsers"><i class="fas fa-users-cog align-content-center"></i> Manage Users</a>
                    </li>
                </ul>
            </li>
        }
        <li class="dropdown">
            <a><i class="fas fa-user align-content-center me-1"></i> Account</a>
            <ul>
                <li><a asp-controller="Account" asp-action="EditAccount"><i class="fas fa-user-cog align-content-center"></i> Account Details</a></li>
                <li><a asp-controller="Account" asp-action="EditProfile"><i class="fas fa-user-edit align-content-center"></i> Profile</a></li>
            </ul>
        </li>
        <li><a asp-controller="Account" asp-action="Logout" class="button">Sign Out</a></li>
    }
</ul>
